/**********************************************************
/ Getting Started - Simple Program, Version 2
/
/ Copyright (C) 1994, Law, Leong, Love, Olson, Tsuji.
/ Copyright (c) 1997 John Wiley & Sons, Inc. 
/ All Rights Reserved.
/*********************************************************/
#include "start2.h"

#ifdef IC_PM /* OS/2 resources */

#define INCL_WINFRAMEMGR     // For SC_CLOSE.
#define INCL_WINMENUS        // For MIS_SYSCOMMAND.
#include <os2.h>

MENU ID_CODEWINDOW
  BEGIN
    SUBMENU "~File",         ID_FILE
      BEGIN
        MENUITEM "Close",    SC_CLOSE, MIS_SYSCOMMAND
      END
    SUBMENU "~Edit",         ID_EDIT
      BEGIN
        MENUITEM "Cu~t",     CMD_CUT
        MENUITEM "~Copy",    CMD_COPY
        MENUITEM "~Paste",   CMD_PASTE
      END
  END

#else /* Windows resources */

ID_CODEWINDOW MENUEX
  BEGIN
    POPUP "&File",           ID_FILE
      BEGIN
        MENUITEM "Close",    SC_CLOSE
      END
    POPUP "&Edit",           ID_EDIT
      BEGIN
        MENUITEM "Cu&t",     CMD_CUT
        MENUITEM "&Copy",    CMD_COPY
        MENUITEM "&Paste",   CMD_PASTE
      END
  END

#endif
