/**********************************************************
/ Using Help - Help Menu Choices
/
/ Copyright (C) 1994, Law, Leong, Love, Olson, Tsuji.
/ Copyright (c) 1997 John Wiley & Sons, Inc.
/ All Rights Reserved.
**********************************************************/
#include "helpmenu.h"

#ifdef IC_PM /* OS/2 resources */

#include <os2.h>

MENU ID_MENUBAR
{
  SUBMENU "~File",                   ID_FILE
  {
    MENUITEM "Close\tF3",            ID_CLOSE,        MIS_SYSCOMMAND
  }
  SUBMENU "~Help",                   ID_HELP
  {
    MENUITEM "Help ~index",          SC_HELPINDEX,    MIS_SYSCOMMAND
    MENUITEM "~General help",        SC_HELPEXTENDED, MIS_SYSCOMMAND
    MENUITEM "~Using help",          ID_USINGHELP
    MENUITEM "~Keys help",           SC_HELPKEYS,     MIS_SYSCOMMAND
    MENUITEM SEPARATOR
    MENUITEM "~About this example",  ID_PRODUCTINFO
  }
}

HELPTABLE ID_HELPTABLE
{
  HELPITEM ID_PRIMARY,   SUBTABLE_PRIMARY,   PANEL_PRIMARY
  HELPITEM ID_SECONDARY, SUBTABLE_SECONDARY, PANEL_SECONDARY
}

HELPSUBTABLE SUBTABLE_PRIMARY
{
  HELPSUBITEM ID_SECONDARY_PB,  PANEL_SECONDARY_BUTTON
  HELPSUBITEM ID_EXIT_PB,       PANEL_EXIT_BUTTON_PRIMARY
  HELPSUBITEM ID_FILE,          PANEL_FILE
  HELPSUBITEM SC_CLOSE,         PANEL_CLOSE
  HELPSUBITEM ID_HELP,          PANEL_HELP
  HELPSUBITEM SC_HELPINDEX,     PANEL_HELPINDEX
  HELPSUBITEM SC_HELPEXTENDED,  PANEL_EXTENDEDHELP
  HELPSUBITEM ID_USINGHELP,     PANEL_USINGHELP
  HELPSUBITEM SC_HELPKEYS,      PANEL_KEYSHELP
  HELPSUBITEM ID_PRODUCTINFO,   PANEL_PRODUCT_INFO
}

HELPSUBTABLE SUBTABLE_SECONDARY
{
  HELPSUBITEM ID_EXIT_PB,       PANEL_EXIT_BUTTON_SECONDARY
  HELPSUBITEM ID_FILE,          PANEL_FILE
  HELPSUBITEM SC_CLOSE,         PANEL_CLOSE
  HELPSUBITEM ID_HELP,          PANEL_HELP
  HELPSUBITEM SC_HELPINDEX,     PANEL_HELPINDEX
  HELPSUBITEM SC_HELPEXTENDED,  PANEL_EXTENDEDHELP
  HELPSUBITEM ID_USINGHELP,     PANEL_USINGHELP
  HELPSUBITEM SC_HELPKEYS,      PANEL_KEYSHELP
  HELPSUBITEM ID_PRODUCTINFO,   PANEL_PRODUCT_INFO
}

#else /* Windows resources */

#include <windows.h>

ID_MENUBAR MENUEX
{
  POPUP "&File"                         ID_FILE
  {
    MENUITEM "Close\tF3",               ID_CLOSE
  }
  POPUP "&Help",                        ID_HELP
  {
    MENUITEM "&Contents",               ID_HELPCONTENTS
#ifdef IPF_COMPATIBLE
    MENUITEM "Help &index",             SC_HELPINDEX
#else
    MENUITEM "&Search for help on...",  SC_HELPINDEX
#endif
    MENUITEM "&General help",           SC_HELPEXTENDED
    MENUITEM "&How to use help",        ID_USINGHELP
    MENUITEM "&Keys help",              SC_HELPKEYS
    MENUITEM SEPARATOR
    MENUITEM "&About this example...",  ID_PRODUCTINFO
  }
}

ID_HELPTABLE HELPTABLE
{
  ID_PRIMARY,   SUBTABLE_PRIMARY,   PANEL_PRIMARY
  ID_SECONDARY, SUBTABLE_SECONDARY, PANEL_SECONDARY
}

SUBTABLE_PRIMARY HELPSUBTABLE
{
  ID_SECONDARY_PB,  PANEL_SECONDARY_BUTTON
  ID_EXIT_PB,       PANEL_EXIT_BUTTON_PRIMARY
  ID_FILE,          PANEL_FILE
  SC_CLOSE,         PANEL_CLOSE
  ID_HELP,          PANEL_HELP
  ID_HELPCONTENTS,  PANEL_HELPCONTENTS
  SC_HELPINDEX,     PANEL_HELPINDEX
  SC_HELPEXTENDED,  PANEL_EXTENDEDHELP
  ID_USINGHELP,     PANEL_USINGHELP
  SC_HELPKEYS,      PANEL_KEYSHELP
  ID_PRODUCTINFO,   PANEL_PRODUCT_INFO
}

SUBTABLE_SECONDARY HELPSUBTABLE
{
  ID_EXIT_PB,       PANEL_EXIT_BUTTON_SECONDARY
  ID_FILE,          PANEL_FILE
  SC_CLOSE,         PANEL_CLOSE
  ID_HELP,          PANEL_HELP
  ID_HELPCONTENTS,  PANEL_HELPCONTENTS
  SC_HELPINDEX,     PANEL_HELPINDEX
  SC_HELPEXTENDED,  PANEL_EXTENDEDHELP
  ID_USINGHELP,     PANEL_USINGHELP
  SC_HELPKEYS,      PANEL_KEYSHELP
  ID_PRODUCTINFO,   PANEL_PRODUCT_INFO
}

#endif
