/**********************************************************
/ Reusable Handlers - Simple Command Handler
/
/ Copyright (C) 1994, Law, Leong, Love, Olson, Tsuji.
/ Copyright (c) 1997 John Wiley & Sons, Inc. 
/ All Rights Reserved.
**********************************************************/
#include "cmdhdrs.h"

#ifdef IC_PM /* OS/2 resource */

#include <os2.h>

MENU ID_POPUP
  BEGIN
    MENUITEM "Beep once",   ID_ONE_BEEP_CMD
    MENUITEM "Beep twice",  ID_TWO_BEEP_CMD
  END

#else /* Windows resource */

ID_POPUP MENUEX
  BEGIN
    MENUITEM "Beep once",   ID_ONE_BEEP_CMD
    MENUITEM "Beep twice",  ID_TWO_BEEP_CMD
  END

#endif
