/*************************************************************
/ Using Help - Help Tables
/
/ Copyright (C) 1994, Law, Leong, Love, Olson, Tsuji.
/ Copyright (c) 1997 John Wiley & Sons, Inc. 
/ All Rights Reserved.
*************************************************************/
#include "helptbl.h"

#ifdef IC_PM /* OS/2 resources */

#include <os2.h>

MENU ID_MENUBAR
{
  SUBMENU "~File",           ID_FILE
  {
    MENUITEM "Choice 1",     ID_CHOICE1
    MENUITEM "Choice 2",     ID_CHOICE2
    MENUITEM SEPARATOR
    MENUITEM "Close",        ID_CLOSE,     MIS_SYSCOMMAND
  }
}

HELPTABLE ID_HELPTABLE
{
  HELPITEM ID_PRIMARY,
                 SUBTABLE_PRIMARY,        PANEL_PRIMARY
  HELPITEM ID_PRIMARY2,
                 SUBTABLE_PRIMARY2,       PANEL_PRIMARY2
  HELPITEM ID_SECONDARY_MODELESS
                 SUBTABLE_SEC_MODELESS,   PANEL_SEC_MODELESS
  HELPITEM ID_SECONDARY_MODAL
                 SUBTABLE_SEC_MODAL,      PANEL_SEC_MODAL
}

HELPSUBTABLE SUBTABLE_PRIMARY
{
  HELPSUBITEM ID_LISTBOX,       PANEL_LISTBOX
  HELPSUBITEM ID_FILE,          PANEL_FILE
  HELPSUBITEM ID_CHOICE1,       PANEL_CHOICE1
  HELPSUBITEM ID_CHOICE2,       PANEL_CHOICE2
  HELPSUBITEM ID_CLOSE,         PANEL_CLOSE
}

HELPSUBTABLE SUBTABLE_PRIMARY2
{
  HELPSUBITEM ID_ENTRY1,        PANEL_ENTRY1_PRIMARY2
  HELPSUBITEM ID_HELP_BUTTON,   PANEL_HELP_BUTTON_PRIMARY2
}

HELPSUBTABLE SUBTABLE_SEC_MODELESS
{
  HELPSUBITEM ID_ENTRY1,        PANEL_ENTRY1_SEC_MODELESS
  HELPSUBITEM ID_HELP_BUTTON,   PANEL_HELP_BUTTON_SEC_MODELESS
}

HELPSUBTABLE SUBTABLE_SEC_MODAL
{
  HELPSUBITEM ID_ENTRY1,        PANEL_ENTRY1_SEC_MODAL
  HELPSUBITEM ID_HELP_BUTTON,   PANEL_HELP_BUTTON_SEC_MODAL
}

#else /* Windows resources */

#include <windows.h>

ID_MENUBAR MENUEX
{
  POPUP "&File"              ID_FILE
  {
    MENUITEM "Choice 1",     ID_CHOICE1
    MENUITEM "Choice 2",     ID_CHOICE2
    MENUITEM SEPARATOR
    MENUITEM "Close",        ID_CLOSE
  }
}

ID_HELPTABLE HELPTABLE
{
  ID_PRIMARY,            SUBTABLE_PRIMARY,      PANEL_PRIMARY
  ID_PRIMARY2,           SUBTABLE_PRIMARY2,     PANEL_PRIMARY2
  ID_SECONDARY_MODELESS, SUBTABLE_SEC_MODELESS, PANEL_SEC_MODELESS
  ID_SECONDARY_MODAL,    SUBTABLE_SEC_MODAL,    PANEL_SEC_MODAL
}

SUBTABLE_PRIMARY HELPSUBTABLE
{
  ID_LISTBOX,       PANEL_LISTBOX
  ID_FILE,          PANEL_FILE
  ID_CHOICE1,       PANEL_CHOICE1
  ID_CHOICE2,       PANEL_CHOICE2
  ID_CLOSE,         PANEL_CLOSE
}

SUBTABLE_PRIMARY2 HELPSUBTABLE
{
  ID_ENTRY1,        PANEL_ENTRY1_PRIMARY2
  ID_HELP_BUTTON,   PANEL_HELP_BUTTON_PRIMARY2
}

SUBTABLE_SEC_MODELESS HELPSUBTABLE
{
  ID_ENTRY1,        PANEL_ENTRY1_SEC_MODELESS
  ID_HELP_BUTTON,   PANEL_HELP_BUTTON_SEC_MODELESS
}

SUBTABLE_SEC_MODAL HELPSUBTABLE
{
  ID_ENTRY1,        PANEL_ENTRY1_SEC_MODAL
  ID_HELP_BUTTON,   PANEL_HELP_BUTTON_SEC_MODAL
}

#endif
