/**********************************************************
/ Using Help - Help for Special Cases
/
/ Copyright (C) 1994, Law, Leong, Love, Olson, Tsuji.
/ Copyright (c) 1997 John Wiley & Sons, Inc.
/ All Rights Reserved.
**********************************************************/
#include "helpothr.h"

#ifdef IC_PM /* OS/2 resources */

#include <os2.h>

DLGTEMPLATE ID_DIALOG LOADONCALL MOVEABLE DISCARDABLE
{
  DIALOG  "", ID_DIALOG, 12, 30, 250, 79, NOT FS_DLGBORDER
  {
    LTEXT       "This is a dialog page window.", -1, 8, 63, 205, 8
    LTEXT       "Has contextual help", -1, 10, 41, 88, 8
    LTEXT       "No contextual help", -1, 10, 19, 88, 8
    ENTRYFIELD  "", ID_DIALOG_ENTRY1, 106, 41, 131, 8, ES_MARGIN |
                WS_GROUP
    ENTRYFIELD  "", ID_DIALOG_ENTRY2, 106, 19, 131, 8, ES_MARGIN |
                WS_GROUP
  }
}

HELPTABLE ID_HELPTABLE
{
  HELPITEM  ID_PRIMARY,     SUBTABLE_PRIMARY,    PANEL_PRIMARY
  HELPITEM  ID_SECONDARY,   SUBTABLE_SECONDARY,  PANEL_NONE
  HELPITEM  ID_PAGE3,       SUBTABLE_PAGE3,      PANEL_PAGE3
  HELPITEM  ID_DIALOG,      SUBTABLE_DIALOG,     PANEL_DIALOG
  HELPITEM  IC_FILE_DIALOG, SUBTABLE_FILEDIALOG, PANEL_FILEDIALOG
}

HELPSUBTABLE SUBTABLE_PRIMARY
{
  HELPSUBITEM  0,  0
}

HELPSUBTABLE SUBTABLE_SECONDARY
{
  HELPSUBITEM  ID_ENTRY1,  PANEL_ENTRY1
  HELPSUBITEM  ID_ENTRYA,  PANEL_ENTRYA
}

HELPSUBTABLE SUBTABLE_PAGE3
{
  HELPSUBITEM  ID_ENTRYX,  PANEL_ENTRYX
}

HELPSUBTABLE SUBTABLE_DIALOG
{
  HELPSUBITEM  ID_DIALOG_ENTRY1, PANEL_DIALOG_ENTRY1
}

HELPSUBTABLE SUBTABLE_FILEDIALOG
{
  HELPSUBITEM  0,  0
}

#else /* Windows resources */

#include <windows.h>

ID_DIALOG DIALOG 12, 30, 250, 79
STYLE WS_CHILD
CAPTION ""
FONT 8, "System"
{
  LTEXT     "This is a dialog page window.", -1, 8, 19, 205, 8, SS_LEFT
  LTEXT     "Has contextual help", -1, 10, 41, 88, 8, SS_LEFT
  LTEXT     "No contextual help", -1, 10, 63, 88, 8, SS_LEFT
  EDITTEXT  ID_DIALOG_ENTRY1, 106, 41, 131, 12, WS_GROUP
  EDITTEXT  ID_DIALOG_ENTRY2, 106, 63, 131, 12, WS_GROUP
}

ID_HELPTABLE HELPTABLE
{
  ID_PRIMARY,     SUBTABLE_PRIMARY,    PANEL_PRIMARY
  ID_SECONDARY,   SUBTABLE_SECONDARY,  PANEL_NONE
  ID_PAGE3,       SUBTABLE_PAGE3,      PANEL_PAGE3
  ID_DIALOG,      SUBTABLE_DIALOG,     PANEL_DIALOG
  IC_FILE_DIALOG, SUBTABLE_FILEDIALOG, PANEL_FILEDIALOG
}

SUBTABLE_PRIMARY HELPSUBTABLE
{
  0,  0
}

SUBTABLE_SECONDARY HELPSUBTABLE
{
  ID_ENTRY1,     PANEL_ENTRY1
}

SUBTABLE_PAGE3 HELPSUBTABLE
{
  ID_ENTRYX,     PANEL_ENTRYX
}

SUBTABLE_DIALOG HELPSUBTABLE
{
  ID_DIALOG_ENTRY1,  PANEL_DIALOG_ENTRY1
}

SUBTABLE_FILEDIALOG HELPSUBTABLE
{
  0,  0
}

#endif
