/************************************************************
/ Container Control - Spreadsheet Behavior
/
/ Copyright (C) 1994, Law, Leong, Love, Olson, Tsuji.
/ Copyright (c) 1997 John Wiley & Sons, Inc. 
/ All Rights Reserved.
************************************************************/
#include "spreadsh.h"

#ifdef IC_PM /* OS/2 resources */

#include <os2.h>
/*****************************/
/* Accelerators              */
/*****************************/
ACCELTABLE SPD_ACCELERATOR
BEGIN
   VK_TAB,     SPD_TAB,       VIRTUALKEY
   VK_BACKTAB, SPD_BACKTAB,   VIRTUALKEY, SHIFT
   VK_UP,      SPD_UP,        VIRTUALKEY
   VK_DOWN,    SPD_DOWN,      VIRTUALKEY
END

#else  /* Windows resources */

SPD_ACCELERATOR  ACCELERATORS
  BEGIN
    VK_TAB      ,    SPD_TAB                       ,  VIRTKEY
    VK_TAB      ,    SPD_TAB,     SHIFT            ,  VIRTKEY  /* ???? */
    VK_UP       ,    SPD_UP                        ,  VIRTKEY
    VK_DOWN     ,    SPD_DOWN                      ,  VIRTKEY
  END
#endif
