/**********************************************************
/ Canvas - IViewPort that Scrolls a Bitmap
/
/ Copyright (C) 1994, Law, Leong, Love, Olson, Tsuji.
/ Copyright (c) 1997 John Wiley & Sons, Inc. 
/ All Rights Reserved.
**********************************************************/
#include <icconst.h>    // for IC_DEFAULT_FRAME_ID
#include "vportbmp.h"

#ifdef IC_PM /* OS/2 resource */

#include <os2.h>

BITMAP ID_FOUNTAIN_BMP  .\os2\fountain.bmp
BITMAP ID_KIDS_BMP      .\os2\kids.bmp
BITMAP ID_OLDBOOK_BMP   .\os2\thebook.bmp

MENU IC_DEFAULT_FRAME_ID
{
  SUBMENU "~Bitmap",              ID_BITMAP
  {
    MENUITEM "~Double size",      ID_DOUBLE_SIZE
    MENUITEM "~Halve size",       ID_HALVE_SIZE
    MENUITEM SEPARATOR
    MENUITEM "~Fountain",         ID_FOUNTAIN_BMP
    MENUITEM "~Kids",             ID_KIDS_BMP
    MENUITEM "First ~book",       ID_OLDBOOK_BMP
  }
  SUBMENU "~View port",           ID_VIEWPORT
  {
    MENUITEM "Scroll to ~top",    ID_SCROLL_TO_TOP
    MENUITEM "Scroll to ~center", ID_SCROLL_TO_VERT_MIDDLE
    MENUITEM "Scroll to ~bottom", ID_SCROLL_TO_BOTTOM
    MENUITEM SEPARATOR
    MENUITEM "Scroll to ~left",   ID_SCROLL_TO_LEFT
    MENUITEM "Scroll to ce~nter", ID_SCROLL_TO_MIDDLE
    MENUITEM "Scroll to ~right",  ID_SCROLL_TO_RIGHT
  }
}

#else /* Windows resource */

ID_FOUNTAIN_BMP BITMAP  .\win\fountain.bmp
ID_KIDS_BMP     BITMAP  .\win\kids.bmp
ID_OLDBOOK_BMP  BITMAP  .\win\thebook.bmp

IC_DEFAULT_FRAME_ID MENUEX
{
  POPUP "&Bitmap"
  {
    MENUITEM "&Double size",      ID_DOUBLE_SIZE
    MENUITEM "&Halve size",       ID_HALVE_SIZE
    MENUITEM SEPARATOR
    MENUITEM "&Fountain",         ID_FOUNTAIN_BMP
    MENUITEM "&Kids",             ID_KIDS_BMP
    MENUITEM "First &book",       ID_OLDBOOK_BMP
  }
  POPUP "&View port"
  {
    MENUITEM "Scroll to &top",    ID_SCROLL_TO_TOP
    MENUITEM "Scroll to &center", ID_SCROLL_TO_VERT_MIDDLE
    MENUITEM "Scroll to &bottom", ID_SCROLL_TO_BOTTOM
    MENUITEM SEPARATOR
    MENUITEM "Scroll to &left",   ID_SCROLL_TO_LEFT
    MENUITEM "Scroll to ce&nter", ID_SCROLL_TO_MIDDLE
    MENUITEM "Scroll to &right",  ID_SCROLL_TO_RIGHT
  }
}

#endif

STRINGTABLE PRELOAD
{
  IC_DEFAULT_FRAME_ID,  "Scrollable Bitmaps"
}
