/************************************************************
/ Packaging and Performance - Using Static Object Functions 
/
/ Copyright (C) 1994, Law, Leong, Love, Olson, Tsuji.
/ Copyright (c) 1997 John Wiley & Sons, Inc. 
/ All Rights Reserved.
************************************************************/
#include "mytext.h"

STRINGTABLE PRELOAD
BEGIN
 MY_TEXT,     "Using resources is easy"
END

