/************************************************************
/ Tool Bar - Basic Fly-over Help Example  
/
/ Copyright (C) 1994, Law, Leong, Love, Olson, Tsuji.
/ Copyright (c) 1997 John Wiley & Sons, Inc. 
/ All Rights Reserved.
************************************************************/
#include "flybasic.h"

STRINGTABLE PRELOAD       
BEGIN
   ID_BUTTON1,                 "Start"
   ID_BUTTON1+FLYTEXT_OFFSET,  "Press to start"
   ID_BUTTON1+LONGTEXT_OFFSET, "Press to start the Web Browser."
END

